USE [LAB01_SQL24]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](500) NULL,
	[NOTES] [ntext] NULL,
	[ICON] [nvarchar](250) NULL,
	[IDPARENT] [bigint] NULL,
	[SLUG] [nvarchar](160) NULL,
	[META_TITLE] [nvarchar](100) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_BY] [bigint] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIGURATIONS]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURATIONS](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](500) NULL,
	[NOTES] [ntext] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](32) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[PHONE] [nvarchar](50) NULL,
	[AVATAR] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_BY] [bigint] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](500) NULL,
	[DESCRIPTION] [ntext] NULL,
	[IMAGE] [nvarchar](550) NULL,
	[IDNEWSCATEGORY] [bigint] NULL,
	[CONTENTS] [ntext] NULL,
	[SLUG] [nvarchar](160) NULL,
	[META_TITLE] [nvarchar](100) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_BY] [bigint] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS_CATEGORY]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS_CATEGORY](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](500) NULL,
	[NOTES] [ntext] NULL,
	[ICON] [nvarchar](250) NULL,
	[IDPARENT] [bigint] NULL,
	[SLUG] [nvarchar](160) NULL,
	[META_TITLE] [nvarchar](100) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_BY] [bigint] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [bigint] NOT NULL,
	[IDORDERS] [char](10) NULL,
	[ORDERS_DATE] [datetime] NULL,
	[IDCUSTOMER] [bigint] NULL,
	[IDPAYMENT] [bigint] NULL,
	[TOTAL_MONEY] [decimal](18, 0) NULL,
	[NOTES] [ntext] NULL,
	[NAME_RECIVER] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[PHONE] [nvarchar](50) NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDORDERS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS_DETAILS]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS_DETAILS](
	[ID] [bigint] NOT NULL,
	[IDORD] [bigint] NULL,
	[IDPRODUCT] [bigint] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[QTY] [int] NULL,
	[TOTAL] [decimal](18, 0) NULL,
	[RETURN_QTY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS_PAYMENT]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS_PAYMENT](
	[ID] [bigint] NOT NULL,
	[IDORD] [bigint] NULL,
	[IDPAYMENT] [bigint] NULL,
	[TOTAL] [decimal](18, 0) NULL,
	[NOTES] [ntext] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS_TRANSPORT]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS_TRANSPORT](
	[ID] [bigint] NOT NULL,
	[IDORD] [bigint] NULL,
	[IDTRANSPORT] [bigint] NULL,
	[TOTAL] [decimal](18, 0) NULL,
	[NOTES] [ntext] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHOD]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHOD](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[NOTES] [ntext] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](500) NULL,
	[DESCRIPTION] [ntext] NULL,
	[NOTES] [ntext] NULL,
	[IMAGE] [nvarchar](500) NULL,
	[IDCATEGORY] [bigint] NULL,
	[CONTENTS] [ntext] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[QUANTITY] [int] NULL,
	[SLUG] [nvarchar](160) NULL,
	[META_TITLE] [nvarchar](100) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_BY] [bigint] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_CONFIGURATIONS]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CONFIGURATIONS](
	[ID] [bigint] NOT NULL,
	[IDPRODUCT] [bigint] NULL,
	[IDCONFIG] [bigint] NULL,
	[VALUE] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGE]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGE](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[URLIMG] [nvarchar](250) NULL,
	[IDPRODUCT] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORT_METHOD]    Script Date: 12/6/2023 9:20:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORT_METHOD](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[NOTES] [ntext] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (NULL) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[CONFIGURATIONS] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[CONFIGURATIONS] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT (NULL) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[NEWS_CATEGORY] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[NEWS_CATEGORY] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[NEWS_CATEGORY] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[NEWS_CATEGORY] ADD  DEFAULT (NULL) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[NEWS_CATEGORY] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[NEWS_CATEGORY] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] ADD  DEFAULT ((0)) FOR [QTY]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] ADD  DEFAULT ((0)) FOR [RETURN_QTY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (NULL) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_NEWSCATEGORY] FOREIGN KEY([IDNEWSCATEGORY])
REFERENCES [dbo].[NEWS_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK_NEWS_NEWSCATEGORY]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDDETAIL_ORDERS] FOREIGN KEY([IDORD])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] CHECK CONSTRAINT [FK_ORDDETAIL_ORDERS]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDDETAIL_PRODUCT] FOREIGN KEY([IDPRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] CHECK CONSTRAINT [FK_ORDDETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_PRODUCT] FOREIGN KEY([IDCATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_CATEGORY_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_CONFIGURATIONS]  WITH CHECK ADD  CONSTRAINT [FK_PROCONFIG_CONFIG] FOREIGN KEY([IDCONFIG])
REFERENCES [dbo].[CONFIGURATIONS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_CONFIGURATIONS] CHECK CONSTRAINT [FK_PROCONFIG_CONFIG]
GO
ALTER TABLE [dbo].[PRODUCT_CONFIGURATIONS]  WITH CHECK ADD  CONSTRAINT [FK_PROCONFIG_PRODUCT] FOREIGN KEY([IDPRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_CONFIGURATIONS] CHECK CONSTRAINT [FK_PROCONFIG_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_PROIMG_PRODUCT] FOREIGN KEY([IDPRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_IMAGE] CHECK CONSTRAINT [FK_PROIMG_PRODUCT]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD CHECK  (([PRICE]>=(0)))
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD CHECK  (([QTY]>=(0)))
GO
