USE [QLBH]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SODH] [char](4) NOT NULL,
	[MAVTU] [char](4) NOT NULL,
	[SLDAT] [int] NOT NULL,
 CONSTRAINT [PK_CTDONDH] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SOPN] [char](4) NOT NULL,
	[MAVTU] [char](4) NOT NULL,
	[SLNHAP] [int] NOT NULL,
	[DGNHAP] [money] NOT NULL,
 CONSTRAINT [PK_CTPNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SOPX] [char](4) NOT NULL,
	[MAVTU] [char](4) NOT NULL,
	[SLXUAT] [int] NOT NULL,
	[DGXUAT] [int] NOT NULL,
 CONSTRAINT [PK_CTPXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SODH] [char](4) NOT NULL,
	[NGAYDH] [date] NULL,
	[MANHACC] [char](3) NOT NULL,
 CONSTRAINT [PK_DONDH] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANHACC] [char](3) NOT NULL,
	[TENNHACC] [varchar](100) NOT NULL,
	[DIACHI] [varchar](200) NOT NULL,
	[DIENTHOAI] [varchar](20) NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SOPN] [char](4) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[SODH] [char](4) NOT NULL,
 CONSTRAINT [PK_PNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PXUAT]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PXUAT](
	[SOPX] [char](4) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[TENKH] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [char](6) NOT NULL,
	[MAVTU] [char](4) NOT NULL,
	[SLDAU] [int] NOT NULL,
	[TONGSLN] [int] NOT NULL,
	[TONGSLX] [int] NOT NULL,
	[SLCUOI] [int] NOT NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 12/12/2023 10:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVTU] [char](4) NOT NULL,
	[TENVTU] [varchar](100) NOT NULL,
	[DVTINH] [varchar](10) NOT NULL,
	[PHANTRAM] [real] NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONDH] ADD  DEFAULT (getdate()) FOR [NGAYDH]
GO
ALTER TABLE [dbo].[NHACC] ADD  DEFAULT ('CHUA CO') FOR [DIENTHOAI]
GO
ALTER TABLE [dbo].[PNHAP] ADD  DEFAULT (getdate()) FOR [NGAYNHAP]
GO
ALTER TABLE [dbo].[PXUAT] ADD  DEFAULT (getdate()) FOR [NGAYXUAT]
GO
ALTER TABLE [dbo].[VATTU] ADD  DEFAULT ('') FOR [DVTINH]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_DONDH] FOREIGN KEY([SODH])
REFERENCES [dbo].[DONDH] ([SODH])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_DONDH]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_VATTU]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_PNHAP] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PNHAP] ([SOPN])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_PNHAP]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_VATTU]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PXUAT_CTPXUAT] FOREIGN KEY([SOPX])
REFERENCES [dbo].[PXUAT] ([SOPX])
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_PXUAT_CTPXUAT]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_VATTU_CTPXUAT] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_VATTU_CTPXUAT]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHACC] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACC] ([MANHACC])
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHACC]
GO
ALTER TABLE [dbo].[PNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PNHAP_DONDH] FOREIGN KEY([SODH])
REFERENCES [dbo].[DONDH] ([SODH])
GO
ALTER TABLE [dbo].[PNHAP] CHECK CONSTRAINT [FK_PNHAP_DONDH]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK_TONKHO_VATTU]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [CK_CTDONDH_SLDAT] CHECK  (([SLDAT]>(0)))
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [CK_CTDONDH_SLDAT]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CTPNHAP_DGNHAP] CHECK  (([DGNHAP]>(0)))
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [CK_CTPNHAP_DGNHAP]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CTPNHAP_SLNHAP] CHECK  (([SLNHAP]>(0)))
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [CK_CTPNHAP_SLNHAP]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [CK_PXUAT_DGXUAT] CHECK  (([DGXUAT]>(0)))
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [CK_PXUAT_DGXUAT]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [CK_PXUAT_SLXUAT] CHECK  (([SLXUAT]>(0)))
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [CK_PXUAT_SLXUAT]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_SLCUOI] CHECK  (([SLCUOI]>(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_SLCUOI]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_SLDAU] CHECK  (([SLDAU]>(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_SLDAU]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_TONGSLN] CHECK  (([TONGSLN]>(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_TONGSLN]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_TONGSLX] CHECK  (([TONGSLX]>(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_TONGSLX]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD  CONSTRAINT [CK_VATTU_PHANTRAM] CHECK  (([PHANTRAM]>(0) AND [PHANTRAM]<(100)))
GO
ALTER TABLE [dbo].[VATTU] CHECK CONSTRAINT [CK_VATTU_PHANTRAM]
GO
