USE [DEV2311LM_SQL24]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/6/2023 8:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [nchar](10) NULL,
	[MAHH] [nchar](10) NULL,
	[SOLUONG] [smallint] NULL,
	[DONGIA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 12/6/2023 8:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [nchar](10) NOT NULL,
	[TENHH] [nvarchar](150) NULL,
	[DVT] [nvarchar](50) NULL,
	[SOLUONGTON] [smallint] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/6/2023 8:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[LOAIHD] [nchar](10) NULL,
	[NGAYHD] [date] NULL,
	[MAKH] [nchar](10) NULL,
	[TRIGIA] [nchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/6/2023 8:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](150) NULL,
	[DIACHI] [nvarchar](150) NULL,
	[DIENTHOAI] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MAHH], [SOLUONG], [DONGIA]) VALUES (N'HD001     ', N'HH001     ', 50, 1200)
INSERT [dbo].[CTHD] ([SOHD], [MAHH], [SOLUONG], [DONGIA]) VALUES (N'HD002     ', N'HH001     ', 90, 23123)
GO
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [DVT], [SOLUONGTON]) VALUES (N'HH001     ', N'IPHONE 15', N'CHIEC', 100)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [DVT], [SOLUONGTON]) VALUES (N'HH002     ', N'IPHONE9', N'CHIEC', 232)
GO
INSERT [dbo].[HOADON] ([SOHD], [LOAIHD], [NGAYHD], [MAKH], [TRIGIA]) VALUES (N'HD001     ', N'N         ', CAST(N'2023-12-06' AS Date), N'KH001     ', NULL)
INSERT [dbo].[HOADON] ([SOHD], [LOAIHD], [NGAYHD], [MAKH], [TRIGIA]) VALUES (N'HD002     ', N'X         ', CAST(N'2023-12-12' AS Date), N'KH002     ', NULL)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH001     ', N'CHIHUONG', N'LIENHIEP', N'098237231', N'CHIHUONG285@GMAIL.COM')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH002     ', N'USER2', N'HN', N'0972352352', N'BHGV@GMAIL.COM')
GO
