USE [QUANLYVATTU]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SODH] [bigint] NOT NULL,
	[MAVTU] [bigint] NOT NULL,
	[SLDAT] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SODH] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SOPN] [bigint] NOT NULL,
	[MAVTU] [bigint] NOT NULL,
	[SLNHAP] [decimal](18, 0) NULL,
	[DGNHAP] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SOPX] [bigint] NOT NULL,
	[MAVTU] [bigint] NOT NULL,
	[SLXUAT] [decimal](18, 0) NULL,
	[DGXUAT] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SODH] [bigint] NOT NULL,
	[NGAYDH] [date] NULL,
	[MANHACC] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SODH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANHACC] [bigint] NOT NULL,
	[TENHACC] [nvarchar](200) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DIEN_THOAI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SOPN] [bigint] NOT NULL,
	[NGAYNHAP] [date] NULL,
	[SODH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PXUAT]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PXUAT](
	[SOPX] [bigint] NOT NULL,
	[NGAYXUAT] [datetime] NULL,
	[TENKH] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [date] NOT NULL,
	[MAVTU] [bigint] NOT NULL,
	[SLDAU] [float] NULL,
	[TONGSLN] [decimal](18, 0) NULL,
	[TONGSXL] [decimal](18, 0) NULL,
	[SLCUOI] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 12/6/2023 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVTU] [bigint] NOT NULL,
	[TENVTU] [nvarchar](200) NULL,
	[DVTINH] [float] NULL,
	[PHANTRAM] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_DONDH] FOREIGN KEY([SODH])
REFERENCES [dbo].[DONDH] ([SODH])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_DONDH]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDH_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTDONDH] CHECK CONSTRAINT [FK_CTDONDH_VATTU]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_PNHAP] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PNHAP] ([SOPN])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_PNHAP]
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNHAP_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPNHAP] CHECK CONSTRAINT [FK_CTPNHAP_VATTU]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PXUAT_CTPXUAT] FOREIGN KEY([SOPX])
REFERENCES [dbo].[PXUAT] ([SOPX])
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_PXUAT_CTPXUAT]
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_VATTU_CTPXUAT] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[CTPXUAT] CHECK CONSTRAINT [FK_VATTU_CTPXUAT]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHACC] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACC] ([MANHACC])
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHACC]
GO
ALTER TABLE [dbo].[PNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PNHAP_DONDH] FOREIGN KEY([SODH])
REFERENCES [dbo].[DONDH] ([SODH])
GO
ALTER TABLE [dbo].[PNHAP] CHECK CONSTRAINT [FK_PNHAP_DONDH]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_VATTU] FOREIGN KEY([MAVTU])
REFERENCES [dbo].[VATTU] ([MAVTU])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK_TONKHO_VATTU]
GO
